/** Regole comuni a tutte le pagine **/
body {
	margin: 0;
	padding: 0;
	font-family: 'Libre Baskerville', serif;
	background-color: #f5f5f7;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 10vh;

	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
}

.navlog {
	background-color: rgb(25 26 37);
}

.logo {
	width: 150px;
	height: 90%;

	background-image: url(bookclub-logo.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	cursor: pointer;
}

#mobile-menu {
	display: none;
}

nav div a {
	padding: 10px;
}

nav a img {
	width: 20px;
	height: 20px;
	top: 5px;
	position: relative;
}
	
a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	letter-spacing: 1.5px;
}

a:hover {
	cursor: pointer;
	color: rgb(153 121 91);
	transition: .2s ease-in-out;

	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
}

.button {
	border: 1px solid lightslategray;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.button:hover {
	background-color: white;
	color: rgb(153 121 91);

	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
}



section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#flex-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 50px auto;
}

.flex-item {
	display: flex;	 
	padding: 15px;
	border-bottom: 1px solid lightgray;
}

.flex-item span {
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
}

.flex-item h3 {
	margin-top: 25px;
}

.first-child.resized {
	width: 12%;
}

.second-child.resized {
	padding: 0;
	width: 24%;
}

.zero-child {
	width: 15%;
	background-position: center;
    background-repeat: no-repeat;
}

.first-child {
	width: 33.33%;
}

.second-child {
	width: 66.67%;
	padding-right: 15px;
}

.third-child {
	width: 20%;
}

.fourth-child, .fifth-child {
	width: 20%;
	text-align: left;
}

.fifth-child p {
	text-decoration: underline;
	font-size: 1.3em;
	margin-top: 5px;
}

#flex-container.scroll {
	overflow-y: scroll;
}
.flex-item h3.resized {
	font-size: 0.9em;
	margin-top: 0px;
	padding: 5px;
}

.flex-item h5.resized {
	padding: 5px;
}

.second-child p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
			line-clamp: 4; 
	-webkit-box-orient: vertical;

	text-align: justify;
	color: #806e6e;
	font-size: 0.9rem;
	line-height: 25px;
	margin-top: 20px;
}

.flex-item div img.resized {
	width: 80px;
	height: 115px;
	padding: 0;
	margin: 0;
}

footer {
	margin-top: 80px;
	height: 5vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #434344;
	color: #f5f5f7;
}	

footer span {
	font-size: 0.7em;	
	margin-left: 5%;
	margin-right: 2%;
}

footer div {
	width: 68%;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;	
}	

/* Custon scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153 121 91);
}